<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Hey, Jetson! Automatic Speech Recogntion Inference with TensorFlow/Keras on the Nvidia Netson">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Hey, Jetson!</title>
    <meta name="author" content="Brice Walker">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.green-cyan.min.css" />
    <link rel= "stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel= "stylesheet" href="{{ url_for('static', filename='fa/css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='icons/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='icons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='icons/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='icons/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='icons/safari-pinned-tab.svg') }}" color="#5bbad5">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
    <meta name="apple-mobile-web-app-title" content="Hey, Jetson!">
    <meta name="application-name" content="Hey, Jetson!">
    <meta name="msapplication-TileColor" content="#00a300">
    <meta name="msapplication-config" content="{{ url_for('static', filename='icons/browserconfig.xml') }}">
    <meta name="theme-color" content="#ffffff">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-90685436-2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-90685436-2');
    </script>
</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header mdl-layout__header--waterfall portfolio-header">
            <div class="mdl-layout__header-row portfolio-logo-row">
                <span class="mdl-layout__title">
                    <span class="mdl-layout__title">Hey, Jetson!</span>
                </span>
            </div>
            <div class="mdl-layout__header-row portfolio-navigation-row mdl-layout--large-screen-only">
                <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
                    <a class="mdl-navigation__link" href="index.html">Inference</a>
                    <a class="mdl-navigation__link" href="asr.html">ASR</a>
                    <a class="mdl-navigation__link" href="visualization.html">Visualization</a>
                    <a class="mdl-navigation__link" href="performance.html">Performance</a>
                    <a class="mdl-navigation__link" href="sentiment.html">Sentiment</a>
                    <a class="mdl-navigation__link" href="about.html">About</a>
                    <a class="mdl-navigation__link is-active" href="contact.html">Contact</a>
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer mdl-layout--small-screen-only">
            <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
                <a class="mdl-navigation__link" href="index.html">Inference</a>
                <a class="mdl-navigation__link" href="asr.html">ASR</a>
                <a class="mdl-navigation__link" href="visualization.html">Visualization</a>
                <a class="mdl-navigation__link" href="performance.html">Performance</a>
                <a class="mdl-navigation__link" href="sentiment.html">Sentiment</a>
                <a class="mdl-navigation__link" href="about.html">About</a>
                <a class="mdl-navigation__link is-active" href="contact.html">Contact</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="mdl-grid portfolio-max-width">
                <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Contact</h2>
                    </div>
                    <div class="mdl-grid portfolio-copy">
                        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Brice Walker</h3>
                        <div class="mdl-cell mdl-cell--4-col">
                                <img class="article-image" src="{{ url_for('static', filename='images/profilepic.jpg') }}" border="0" alt="">
                        </div>
                        <div class="mdl-cell mdl-cell--8-col">
                            <p>
                                My name’s Brice, and I’m a visionary data scientist, and an individual in recovery committed to revolutionizing through undeniably intelligent and groundbreaking systems change designs. My mission is to improve my community through technology and data. My background in clinical mental health and social public health has lead me to develop a unique method of problem solving that synthesizes a human-centered design approach and a systems level view of how products and users fit within social and organizational constructs. As a proponent of diversity and social inclusion at all levels in the data analysis pipeline, I aim to contribute to the open source software community as well as support non-traditional approaches to educational achievement, and the development of scientific and digital literacy. I am the premier trailblazer who can inspire empirically enlightened resolutions for your organizational change efforts.
                            </p>
                        </div>
                        <div class="mdl-cell mdl-cell--12-col">
			            <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">About Me</h3>
                            <p>
                                My pursuit of analytics and effective system management grew from my career in mental health and my own drive for knowledge. As an individual with lived experience in the mental health system, I pursued a career that would enable me to enact systems change and advocate for evidence based and ethical practices in the treatment of individuals with mental health and addictions problems. As I grew in my career, I began to see major discrepancies between the large scale epidemiological science and what was happening on the ground. The further I dove into this world, the more dysfunctional it appeared.
                            </p>
                            <p>    
                                I encountered systemic issues in the institutions I navigated that supported archaic and inefficient practices that were not supported by the literature, like the use of drug tests to ‘hold people accountable’, an over-reliance on the 12-steps, and the preference for abstinence-based education over more person-centered practices like harm reduction. Other examples include the use of SSRI’s for depression, despite the research showing increased incidence of suicide, and the use of neuroleptics even though the literature has failed to show efficacy in the treatment of recurrent psychotic episodes and the evidence has shown a near mathematical certainty of long term consequences like tardive dyskinesia. Even in public health and academia, I encountered systemic forces that prevented services supported by technology simply because the funding would then go to start-ups out of state and enforced a philosophical view of health that was not holistic.
                            </p>
                            <p>
                                As a result, I saw data science as an outlet for identifying and enabling evidence-based practices that were supported by the data. My autodidactic approach to learning allowed me to explore data science unhindered by bureaucracy and politics. I now work to enable the public by using data driven initiatives to enrich their lives.
                            </p>
                            <p>
                                If you have any questions about my current or past projects, would like to collaborate on a project, or would like to discuss some contract or consulting work, feel free to contact me via phone/email.
                            </p>
                            <div class="contact_details">
                                <h2>Contact Details</h2>
                                    <p class="address">
                                        <span>Brice Anthony Walker</span><br>
                                        <span>3011 Harbor Ave SW<br>
                                              Seattle, WA 98126</span><br>
                                        <span><a href="https://bricewalker.com">bricewalker.com</a></span><br>
                                        <span><a href="tel:2086998446">(208) 699-8446</a></span><br>
                                        <span><a href="mailto:brice@bricewalker.com">brice@bricewalker.com</a></span><br>
                                    </p>
                                    <p>
                                        <div class="theme-button">
                                            <a href="{{ url_for('static', filename='images/BriceWalkerResume.pdf') }}"><button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--colored"><i class="fa fa-download fa fw" aria-hidden="true"></i> Download Resume</button></a>
                                        </div>
                                    </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="mdl-mini-footer">
                <div class="mdl-mini-footer__left-section">
                    <div class="mdl-logo">&copy; Copyright 2015-2018 Brice Walker. Design by <a href="https://bricewalker.com" id="tt1">Brice Walker</a><div class="mdl-tooltip" data-mdl-for="tt1">Brice Walker</div>. Created using Python, HTML, CSS, and JavaScript.</div>
                </div>
                <div class="mdl-mini-footer__right-sec">
                    <ul class="mdl-mini-footer__link-list">
                        <li><a href="https://github.com/bricewalker"><i class="fab fa-github fa-3x"></i><div class="mdl-tooltip">Github</div></a></li>
                        <li><a href="https://www.linkedin.com/in/briceawalker/"><i class="fab fa-linkedin-in fa-3x"></i><div class="mdl-tooltip">Linkedin</div></a></li>
                        <li><a href="https://stackexchange.com/users/11615581/brice-walker"><i class="fab fa-stack-exchange fa-3x"></i><div class="mdl-tooltip">Stack Exchange</div></a></li>
                        <li><a href="https://www.instagram.com/recoverybrice/"><i class="fab fa-instagram fa-3x"></i><div class="mdl-tooltip">Instagram</div></a></li>
                    </ul>
                </div>
            </footer>
        </main>
    </div>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>
</html>
