
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Hey, Jetson! Speech Recogntion Inference">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
   	<title>Hey, Jetson!</title>
	<meta name="description" content="Hey, Jetson! Speech Recogntion Inference">
	<meta name="author" content="Brice Walker">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.green-cyan.min.css" />
    <link rel= "stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel= "stylesheet" href="{{ url_for('static', filename='fa/css/font-awesome.min.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='icons/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='icons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='icons/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='icons/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='icons/safari-pinned-tab.svg') }}" color="#5bbad5">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
    <meta name="apple-mobile-web-app-title" content="Hey, Jetson!">
    <meta name="application-name" content="Hey, Jetson!">
    <meta name="msapplication-TileColor" content="#00a300">
    <meta name="msapplication-config" content="{{ url_for('static', filename='icons/browserconfig.xml') }}">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
                <header class="mdl-layout__header mdl-layout__header--waterfall portfolio-header">
                    <div class="mdl-layout__header-row portfolio-logo-row">
                        <span class="mdl-layout__title">
                            <span class="mdl-layout__title">Hey, Jetson!</span>
                        </span>
                    </div>
            <div class="mdl-layout__header-row portfolio-navigation-row mdl-layout--large-screen-only">
                <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
                    <a class="mdl-navigation__link is-active" href="index.html">Inference Engine</a>
                    <a class="mdl-navigation__link" href="about.html">About</a>
                    <a class="mdl-navigation__link" href="contact.html">Contact</a>
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer mdl-layout--small-screen-only">
            <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
                <a class="mdl-navigation__link is-active" href="index.html">Inference Engine</a>
                <a class="mdl-navigation__link" href="about.html">About</a>
                <a class="mdl-navigation__link" href="contact.html">Contact</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="mdl-grid portfolio-max-width">
                <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Automatic Speech Recognition Inference on the Nvidia Jetson.</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <strong>Includes:</strong>
                        <span>Python, Flask, Tensorflow, Keras, Nvidia Jetson, Jetpack, Ubuntu, L4T, HTML, CSS, JavaScript, Anaconda, Jupyter Notebook, Cudnn</span>
                    </div>
                    <div class="mdl-grid portfolio-copy">
                        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Introduction</h3>
                        <div class="mdl-cell mdl-cell--6-col">
                            <p>
                                This server runs a live demo of a scalable automatic speech recognition platform in Keras/Tensorflow for inference on the Nvidia Jetson Embedded Computing Platform for AI at the Edge. This end to end sequencing model uses a recurrent neural network trained on an Nvidia GTX1070. The overall cosine similarity of the model's predictions with the ground truth transcriptions in both the test and validation set is about 74%, while the overall word error rate is about 18%. Use the inference engine below to test out the model.
                            </p>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col">
                            <img class="article-image" src="{{ url_for('static', filename='images/JTX2.png') }}" border="0" alt="">
                        </div>
                        <div class="mdl-cell mdl-cell--6-col">
                        <a href="https://github.com/bricewalker/Hey-Jetson">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                            View full project on Github
                        </button>
                        </a>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col">
                        <a href="https://nbviewer.jupyter.org/github/bricewalker/Hey-Jetson/blob/master/Speech.ipynb">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                            View full project on nbviewer
                        </button>
                        </a>
                        </div>
                        <div class="mdl-cell mdl-cell--12-col">{% block usr_input %}{% endblock %}</div>
                        <div class="mdl-cell mdl-cell--12-col">{% block transcriptions %}{% endblock %}</div>
                        <div>
                        <div class="mdl-cell mdl-cell--12-col">{% block waveform %}{% endblock %}</div>
                        <div class="mdl-cell mdl-cell--12-col">{% block spectrogram %}{% endblock %}</div>
                        </div>
                        </div>
                </div>
            </div>
            <footer class="mdl-mini-footer">
                <div class="mdl-mini-footer__left-section">
                    <div class="mdl-logo">&copy; Copyright 2015-2018 Brice Anthony Walker. Design by <a href="http://bricewalker.com" id="tt1">Brice Walker</a><div class="mdl-tooltip" data-mdl-for="tt1">Brice Walker</div>. Created using HTML, CSS, Javascript, and PHP. Compliant with Material Design guidelines.</div>
                </div>
                <div class="mdl-mini-footer__right-sec">
                    <ul class="mdl-mini-footer__link-list">
                        <li><a href="https://github.com/bricewalker"><i class="fa fa-github fa-3x" aria-hidden="true" id="tt2"></i><div class="mdl-tooltip" data-mdl-for="tt2">Github</div></a></li>
                        <li><a href="https://stackexchange.com/users/11615581/brice-walker"><i class="fa fa-stack-exchange fa-3x" aria-hidden="true" id="tt3"></i><div class="mdl-tooltip" data-mdl-for="tt3">Stack Exchange</div></a></li>
                        <li><a href="https://www.instagram.com/recoverybrice/"><i class="fa fa-instagram fa-3x" aria-hidden="true" id="tt4"></i><div class="mdl-tooltip" data-mdl-for="tt4">Instagram</div></a></li>
                    </ul>
                </div>
            </footer>
        </main>
    </div>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>

</html>
