{% extends "home.html" %}

{% block body %}
	{% if prediction_transcription is defined %}
    <div class="mdl-cell mdl-cell--12-col">
    	<h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Ground Truth Transcription:</h3>
    <div class="mdl-cell mdl-cell--12-col">{{ truth_transcription }}</div>
    	<h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Predicted Transcription:</h3>
    <div class="mdl-cell mdl-cell--12-col">{{ prediction_transcription }}</div>
    </div>

	{% else %}
    <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Please Fill out the form below to run inference:</h3>
	{% endif %}

{% block page_content %}
	<div class="mdl-cell mdl-cell--12-col">
		<form method="POST">
			{{ form.partition.label }} {{ form.partition() }}
			<br>
			{{ form.instance_number.label }} {{ form.instance_number() }}
			<br>
			{{ form.submit() }}
		</form>
	</div>
{% endblock %}
{% endblock %}