{% extends "home.html" %}

{% block body %}
	<h2 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Inference Engine</h2>
	<div class="mdl-cell mdl-cell--12-col">
		<form method="POST" action="/">
			{{ form.csrf_token }}
			{{ form.partition.label }} {{ form.partition() }}
			<br>
			{{ form.instance_number.label }} {{ form.instance_number() }}
			<br>
			{{ form.submit() }}
		</form>
	</div>
{% endblock %}

{% block page_content %}
	<h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Ground Truth Transcription:</h3>
	<div class="mdl-cell mdl-cell--12-col">{{ truth_transcription }}</div>
	<h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Predicted Transcription:</h3>
	<div class="mdl-cell mdl-cell--12-col">{{ prediction_transcription }}</div>
{% endblock %}

{% if raw_plot != None %}
{% block waveform %}
	<img src="data:image/png;base64, {{ raw_plot  }}" alt="waveform">
	<div class="mdl-cell mdl-cell--12-col">{{ raw_shape }}</div>
{% endblock %}

{% block spectrogram %}
	<img src="data:image/png;base64, {{ spectrogram_plot }}" alt="spectrogram">
	<div class="mdl-cell mdl-cell--12-col">{{ spectrogram_shape }}</div>
{% endblock %}

{%else%}

{% block nothing %}
{% endblock %}

{% endif %}